a {
    text-decoration: none;
    font-family: broadway;
    color: rgb(113, 104, 104);
    font-size: 2rem;
    font-weight: bolder;
    margin: 6vw;
}



/*splash side*/


body { margin:0;
text-align: center;}


#splash1 img{
    position: fixed;
    height: 100vw;

}



.tilmenu {
    position: absolute;
    top: 45%;
    left: 40%;

}

.tilmenu a{
    text-decoration: none;
    font-family: 'Italiana', serif;
    font-size: 4rem;
    font-weight: bolder;
    color: black;

}

.tilmenu a:hover{
    color:brown;
}

/*forside*/

.about{
    background-color: rgb(227, 227, 218);
    margin: 5vw;
    display: flex;
    flex-wrap: wrap;

}


.aboutimage img{
    height: 30vw;
    width: auto;

}

.aboutimage {
    display: flex;
    flex-basis: 200px;
    margin: 2vw;

}

.abouttext {
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200px;
    margin: 5vw;

}

.aboutbox {
    margin-top: 5vw;
    text-align: center;
}

/*contact*/

.contact{
    text-align: center;
    margin: 2vw;
}


.contactwrap {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 5vw;
}

.contacttext {
    margin: auto;

}

.contactpic {
    margin: auto;
}



.contactpic img {
    height: 100%;
    width: auto;

}



/*menu side*/
p {
    font-family: monospace;
}
h1 {
    font-family: 'Italiana', serif;
    text-align: center;

}
h2 {
    font-family: 'Italiana', serif;

}

h3 {
    font-family: 'Italiana', serif;

}



#splash2 img{
    width: 100vw;
    position: static;

}



button {
    margin: 2vw;
    padding: 1vw;
    background:none!important;
     color:inherit;
     border:none;
     font: arial;
    font-size: 1.2em;
     border-bottom: 1.5px solid #444;
     cursor: pointer;

}

        .menu {
            margin: 3vw;
            text-align: center;
        }

        .valgt {
            color: rgb(132, 94, 94);
            font-weight: bold;
            font-size: 1.5em;

        }

        #liste {
            text-align: center;
        }

#liste h3{
    margin: 0vw 0vw 20vw;

}

        #liste img {
            border-radius: 50vw;
            height: 50vw;
            width: 50vw;

        }

@media only screen and (max-width: 2000px){

    #liste {
        grid-template-columns: 1fr 1fr 1fr;
            display: grid;
    }

    #liste img {
            border-radius: 50vw;
            height: 20vw;
            width: 20vw;

        }

    #indhold img {
    width: 80%;
  height: auto;
}

}


@media only screen and (max-width: 1024px){

    #liste {
        grid-template-columns: 1fr 1fr;
            display: grid;
    }

    #liste img {
            border-radius: 50vw;
            height: 35vw;
            width: 35vw;

        }
}



@media only screen and (max-width: 480px){

    #liste {
        grid-template-columns: 1fr;
            display: grid;
    }

    #liste img {
            border-radius: 50vw;
            height: 35vw;
            width: 35vw;

        }


}



        #popup {
            background-color: rgba(0, 0, 0, 0.8);
            height: 100vh;
            width: 100vw;
            position: fixed;
            display: none;
        }

#popup img {
           border-radius: 50vw;
            height: 70vw;
            width: 70vw;
}

        #luk {
            text-align: right;
            padding-right: 1em;
            color: white;
            font-size: 2em;
        }

        #indhold {
            text-align: center;
            box-sizing: border-box;
            background-color: #dddddd;
            height: 71vh;
            width: 40vw;
            margin: auto;

        }


#indhold img{
    width: 80%;
  height: auto;
}
